@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #213547;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

@layer components {
  .breadcrumbs {
    @apply flex justify-center items-center max-w-2xl mx-4;
  }

  .crumb {
    @apply flex truncate text-ellipsis max-w-xs items-center justify-center mr-2 after:ml-2 last:after:hidden after:text-center;
  }
  .crumb::after {
    content: ">";
  }

  .crumb a {
    @apply text-gray-400 hover:text-white transition capitalize;
  }
}
